<div class="input-group mb-3 mt-3">
    <select class="custom-select" id="stars" name="stars" style="width: 100%; height: 5%" required>
      <option selected value="1">1 Estrella</option>
      <option value="2">2 Estrellas</option>
      <option value="3">3 Estrellas</option>
      <option value="4">4 Estrellas</option>
      <option value="5">5 Estrellas</option>
    </select>
</div>
<div class="form-group">
    <textarea name="review" id="review" class="form-control" rows="3" placeholder="Da tu opinión" required></textarea>
</div>
<div class="form-group text-center" id="Valorar" style="display:inline">
    <input type="submit" class="btn btn-success" style="margin-bottom:25px;" value="Valorar" />
</div>