<div class="search-receta">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Buscar..." />
</div>
<div class="card" *ngFor="let receta of recetaList | filter:searchText">
    <img class="card-img-top" src="{{receta.imagen}}" />
    <div class="card-body">
        <h5 class="card-title title">{{receta.titulo}}</h5>
        <p class="card-text steps">{{receta.preparacion}}</p>

        <p class="card-text ingdts">{{receta.ingredientes}}</p><br>
        <a href="#" class="btn btn-primary">Valorar</a>
    </div>
</div>