<div class="search-receta">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Buscar..." />
</div>
<div class="card" *ngFor="let receta of recetaList | filter:searchText">
    <img class="card-img-top" src="{{receta.imagen}}" />
    <div class="card-body">
        <h5 class="card-title title">{{receta.titulo}}</h5>
        <div id="module{{receta.$key}}" class="container">
            <h6 class="card-title">Preparación</h6>
            <p class="collapse" id="collapseExample{{receta.$key}}" aria-expanded="false">
                {{receta.preparacion}}
            </p>
            <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample{{receta.$key}}" aria-expanded="false" aria-controls="collapseExample">
            </a>
        </div>

        <h6 class="card-title">Ingredientes</h6>
        <p class="card-text ingdts">{{receta.ingredientes}}</p>

        <app-reviews [receta]=receta></app-reviews>
        <app-review></app-review>
    </div>
</div>